*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

:root {
  --colorDark1: #112d4e;
  --colorDark2: #3f72af;
  --colorLight1: #dbe2ef;
  --colorLight2: #f9f7f7;
  --font-size-base: 16px; /* Set base font size */
}

html {
  font-size: var(--font-size-base);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  color: var(--colorLight2);
  background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
  background-attachment: fixed;
  background-size: auto; /* Cover the entire viewport */
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.25rem; /* Convert to rem */
}

.tab-container {
  width: 90%;
  max-width: 34.375rem; /* Convert to rem */
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.tab {
  cursor: pointer;
  font-size: 0.85rem;
  letter-spacing: 0.109375rem; /* Convert to rem */
  padding: 0.3125rem 0.5rem; /* Convert to rem */
}

.tab.current-tab {
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 0.25rem; /* Convert to rem */
}

.weather-container {
  margin-block: 3rem;
}

.btn {
  /* to disable all the button inbuilt properties */
  all: unset;
  font-size: 0.85rem;
  text-transform: uppercase;
  background-color: var(--colorDark2);
  color: var(--colorLight1);
  border-radius: 0.3125rem; /* Convert to rem */
  cursor: pointer;
  padding: 0.625rem 1.875rem; /* Convert to rem */
  margin-bottom: 1.25rem; /* Convert to rem */
}

/* Grant Location Screen */
.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grant-location-container {
  display: none;
}

.grant-location-container.active {
  display: flex;
}

.grant-location-container img {
  margin-bottom: 2rem;
}

.grant-location-container p:first-of-type {
  font-size: 1.75rem;
  font-weight: 600;
}

.grant-location-container p:last-of-type {
  font-size: 0.85rem;
  font-weight: 500;
  margin-top: 0.75rem;
  margin-bottom: 1.75rem;
  letter-spacing: 0.046875rem; /* Convert to rem */
}

/* Loading Screen */
.loading-container {
  display: none;
}

.loading-container.active {
  display: flex;
}

.loading-container p {
  text-transform: uppercase;
}

/* Show Weather Screen */
.user-info-container {
  display: none;
}

.user-info-container.active {
  display: flex;
}

.name {
  display: flex;
  align-items: center;
  gap: 0 0.3125rem; /* Convert to rem */
  margin-bottom: 1rem; /* Convert to rem */
}

.name p {
  font-size: 2rem;
}
.name img {
  width: 1.875rem; /* Convert to rem */
  height: 1.875rem; /* Convert to rem */
}

.user-info-container p {
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: capitalize;
}

.user-info-container img[data-weatherIcon] {
  width: 5.625rem; /* Convert to rem */
  height: 5.625rem; /* Convert to rem */
}

.user-info-container p[data-temp] {
  font-size: 2.75rem;
  font-weight: 700;
}

.parameter-container {
  width: 90%;
  display: flex;
  gap: 0.625rem 1.25rem; /* Convert to rem */
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.parameter {
  width: 30%;
  max-width: 12.5rem; /* Convert to rem */
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 0.3125rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem 0;
  align-items: center;
}

.parameter img {
  width: 3.125rem; /* Convert to rem */
  height: 3.125rem; /* Convert to rem */
}

.parameter p:first-of-type {
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase;
}

.parameter p:last-of-type {
  font-size: 1rem;
  font-weight: 200;
  text-transform: lowercase;
}

/* Form Screen */
.form-container {
  display: none;
  width: 90%;
  max-width: 34.375rem; /* Convert to rem */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 0 0.625rem; /* Convert to rem */
  margin-bottom: 3rem;
}

.form-container.active {
  display: flex;
}

.form-container input {
  all: unset;
  width: calc(100% - 5rem); /* Convert to rem */
  height: 2.5rem; /* Convert to rem */
  padding: 0 1.25rem; /* Convert to rem */
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 0.625rem; /* Convert to rem */
}

.form-container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-container input:focus {
  outline: 0.1875rem solid rgba(255, 255, 255, 0.7); /* Convert to rem */
}

.form-container .btn {
  padding: unset;
  height: 2.5rem; /* Convert to rem */
  width: 2.5rem; /* Convert to rem */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 0.0625rem; /* Convert to rem */
}

@media screen and (max-width: 48rem) {
  .parameter-container {
    flex-wrap: wrap;
  }

  .parameter {
    width: 45%;
    margin-bottom: 0.625rem; /* Convert to rem */
  }

  .tab-container {
    flex-wrap: wrap;
  }

  .tab {
    flex-basis: 48%;
    margin-bottom: 0.3125rem; /* Convert to rem */
  }

  .form-container input {
    width: calc(100% - 3.125rem); /* Convert to rem */
  }

  .form-container .btn {
    width: 2.5rem; /* Convert to rem */
    height: 2.5rem; /* Convert to rem */
  }
}

@media screen and (max-width: 30rem) {
  .wrapper {
    /* Ensure the wrapper has a height of 100% */
    height: auto;
    display: flex;
    flex-direction: column; /* Make sure it's a column layout */
  }

  .parameter {
    width: 90%;
  }

  .tab {
    flex-basis: 100%;
    margin-bottom: 0.5rem;
  }

  .tab-container {
    /* Set height to 100% to fill the parent container */
    height: 100%;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; /* Ensure items stretch to fill container height */
  }

  .form-container input {
    width: calc(100% - 3.125rem);
  }
}

/* Error handling Screen */
.error-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error-message {
  font-size: 1.5rem;
  color: var(--colorLight1);
}
